@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

:root {
    --my-red: #da3232;
    --my-red-dark: #c11919;
    --my-white: #f2f2f2;
    --off-white: #f6f6f6;
}

body {
    font-family: "Poppins", sans-serif !important;
    background-color: var(--my-white) !important;
}
.accent {
    font-family: "Pacifico", cursive !important;
}

.bg-accent {
    background-color: var(--off-white);
}

.divider {
    border-left: 2px solid var(--my-red);
    height: 100%;
}

.primary {
    color: var(--my-red) !important;
}
a.primary:hover  {
    color: var(--my-red-dark) !important;
}
.secondary {
    color: var(--off-white) !important;
}

#header, #footer {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, var(--off-white) 10px, var(--off-white) 20px);
}