@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&display=swap');

:root {
    --my-red: #da3232;
    --off-white: #f6f6f6;
}

body {
    font-family: "Poppins", sans-serif !important;
}
.accent {
    font-family: "Pacifico", cursive !important;
}

.primary {
    color: var(--my-red) !important;
}
.secondary {
    color: var(--off-white) !important;
}

#true-content {
    background-color: var(--off-white);
}